{% extends 'base.html' %}
{% block content %}

  {% if t=='s' %}
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h3 style="color:rgb(0, 102, 255)">"{{x}}" is the word that you have entered.</h3>
    <h3 style="color:rgb(0, 102, 255)">Spelling of "{{x}}" is correct.</h3>
    <h3 style="color:rgb(0, 102, 255)">Check for another word</h3>
  </div>

  {% else %}
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h1 style="color:rgb(0, 102, 255)">"{{x}}" is the word that you have entered.</h1>
    <h3 style="color:rgb(0, 102, 255)">Below are some possible suggestions: </h3>
  </div>

    <ul class="list-group list-group-flush">
      {% for suggested_words in r %}
        <li class="list-group-item" style="color:rgb(0, 179, 0)"><strong>{{suggested_words|capitalize}}</strong></li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}